* {
    font-family: ;
}

body {
    color: #fff900;
    background-color: #009fff;
}

.row {
	height: 100vh;
}

.coming-soon {
    animation: blink 2s infinite alternate;
    font-size: 5vw;
}

.tehpsalmist {
	animation: grow 1s linear infinite;
	font-size: 1.5vw;
}

@keyframes blink {
    from {
    	color: #fff900;
    }
    to {
    	color: #ffffff;
    }
}

@keyframes grow {
    40% {
    	transform: scale(1,1);
    }
    55% {
    	transform: scale(1.02,1.02);
    }
    70% {
        transform: scale(1,1);
    }
    85% {
        transform: scale(1.02,1.02);
    }
    100% {
        transform: scale(1,1);
    }
}
