:root {
    --yellow: #fff900;
    --blue: #009fff;
    --textcolor: #005488;
    --bordershadow: #00548842;
    --lightblue: #b8d5f0;
    --mediumblue: #49beff;
    --white: #ffffff;
    --dropdownGradientStart: #ffffff;
    --dropdownGradientEnd: #dfe9ff;
    --projectGradientStart: #ffffff;
    --projectGradientEnd: #dfe9ff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--textcolor);
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--textcolor);
}

button {
    font-size: 1em;
    color: var(--textcolor);
    border-radius: 5px;
    background: linear-gradient(to bottom right, var(--projectGradientStart), var(--projectGradientEnd));
}

a:hover {
    color: var(--blue);
}

code {
    font-size: 1.25em;
}

.nohover {
    pointer-events: none;
}

.grid {
    display: grid;
    grid-template: repeat(4, auto) / 1fr;
    grid-template-areas:
        "nav"
        "header"
        "main"
        "footer";
    grid-row-gap: 50px;
    grid-column-gap: 5%;
    margin: 15px 5%;
    align-items: center;
}

nav {
    grid-area: nav;
}

.project-header {
    grid-area: header;
    text-align: center;
}

.home-header {
    grid-area: header;
    display: grid;
    grid-template: auto 300px / 1fr 300px 1fr;
    grid-template-areas:
        "hero hero hero"
        ". slider .";
    grid-row-gap: 50px;
    align-items: center;
}

.emoji {
    line-height: 1em;
}

.hero {
    grid-area: hero;
}

.slider {
    grid-area: slider;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.slider-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 40px 40px white inset;
    z-index: 1;
}

.slides {
    display: inline-flex;
    align-content: center;
    transition: ease-in-out;
    transition-duration: 1s;
}

.slide {
    width: 200px;
    height: 200px;
    margin: 50px 100px 50px 50px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slide > img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.main {
    grid-area: main;
    display: grid;
    grid-template: auto / auto;
    grid-gap: 15px;
    align-items: start;
    height: auto;
}

.main-title {
    grid-column: 1 / -1;
    text-align: center;
}

.main-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    box-shadow: 0 0 2px 2px var(--bordershadow);
    border-radius: 10px;
    flex-grow: 1;
    background: linear-gradient(to bottom right, var(--projectGradientStart), var(--projectGradientEnd));
}

.project-active {
    border: none;
    box-shadow: 0 0 4px 4px var(--bordershadow);
    position: absolute;
    width: 100%;
    z-index: 3;
}

.project-title {
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.project-img-container {
    text-align: center;
    width: 100%;
}

.project-img {
    width: 90%;
    border-radius: 10px;
    margin: 5px;
}

.project-details {
    text-align: center;
    display: none;
    justify-content: space-around;
    margin: 0;
    padding: 4px;
    width: 90%;
}

.project-description {
    text-align: left;
    margin: 0;
}

.show-details {
    display: flex;
}

.project-tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.project-tech-list-title {
    width: 100%;

}

.project-tech-list-item {
    padding: 0 10px;
}

footer {
    grid-area: footer;
    margin-top: 150px;
}

/*

    **** Media Queries ****

*/

/*

    Tablets / Small Desktop Windows

*/

@media screen and (min-width: 750px) {
    .main {
        grid-template: 1fr / 1fr 1fr;
        grid-gap: 30px;
    }
    .home-header {
        grid-template: auto / 1fr 300px;
        grid-template-areas:
            "hero slider"
    }
}

/*

    Large Desktop Windows

*/

@media screen and (min-width: 1200px) {
    .main {
        grid-template: 1fr / 1fr 1fr 1fr;
        grid-gap: 40px;
    }
}

/*

    **** Animations ****

*/