body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 40px;
    text-align: center;
}

.title-sub {
  text-align: center;
}

.title-logo {
    margin-top: 20px;
}

hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 3px solid #BCBBBB;
}

@media (min-width: 768px) {
  .title-super {
    text-align: right;
    font-size: 60px
  }
  .title-sub {
    text-align: right;
  }
}

@media (min-width: 992px) {
  .title-super {
    text-align: right;
    font-size: 60px;
  }
  .title-sub {
    text-align: right;
  }
}
