:root {
    --textcolor: white;
    --bluecolor: #087cc0;
    --shadowcolor: #1c3069;
    --greencolor: rgb(98, 216, 161);
    --purplecolor: rgb(173, 136, 241);
}

body {
    color: var(--textcolor);
    background: linear-gradient(to bottom right, var(--bluecolor), var(--purplecolor));
    min-height: 100vh;
}    

.card-container {
    perspective: 800px;
} 

.card {
    transition: transform .5s;
    transform-style: preserve-3d;
    position: relative;
    background-color: rgba(0, 0, 0, 0)
}

.card-side {
    margin: 0;
    display: block;
    position: absolute;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    box-shadow: 0 0 8px 3px var(--shadowcolor);
}

.back {
    transform: rotateY(180deg);
    background: linear-gradient(to bottom right, var(--bluecolor), var(--greencolor));
    color: var(--textcolor);
    display: flex;
}

.card-text-container {
    margin: auto;
}

.card-container:hover .card,
.card-container:focus .card,
.flipped {
    cursor: pointer;
    transform: rotateY(180deg);
}

#home-button {
    position: fixed;
    left: 8px;
    bottom: 8px;
    font-size: 1.5rem;
    color: var(--textcolor);
}

#home-button:hover {
    text-decoration: none;
    color: var(--greencolor);
}